<footer class="ceh_footer">
    <div class="footer_menu">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="/"><img class="footer_logo" alt="costa del sol" src="/a2f6392d6a3cb3d9e4cf2c7ac5b7336e.svg"></a>
            <div><strong class="text-uppercase text-small">Quick Access</strong></div>
            <div class="list-group footer_nav">
             <a href="/" class="list-group-item">Descripción de la iniciativa</a>
             <a href="#" class="list-group-item">Noticias, novedades y actualizaciones</a>
             <a href="#" class="list-group-item">Documentación y ayuda</a>
             <a href="#" class="list-group-item">Terminos y licencias</a>
           </div>
          </div>
          <div class="col-md-4">
           <div class="list-group footer_nav">
             <a href="#" class="list-group-item">Conjuntos de datos</a>
             <a href="#" class="list-group-item">Estadísticas de uso</a>
             <a href="#" class="list-group-item">SPARQL</a>
             <a href="#" class="list-group-item">API</a>
           </div>
          </div>
          <div class="col-md-4">
              <!-- here we put the lang dropdown -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer_rights">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p>Portal de Datos Abiertos de la Iniciativa Smart Costa del Sol © 2020 - Todos los derechos reseservados </p>
          </div>
          <div class="col-md-4 links">
            <p class="pull-right">
              <a href="http://www.segovia.es/index.php/mod.pags/mem.avisoLegal">Aviso legal</a> | <a href="http://www.segovia.es/index.php/mod.pags/mem.accesskey">Accesibilidad</a>
              <img src="/aa.png" alt="aa">
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

